.Container1{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 190px;
    justify-content: space-evenly;
    width: 100%;
}

.titleText{
    font-size: 64px;

    color: black;
    margin-bottom: 30px;
}

.titleBtn{
    background-color: #4D8CF3;
    color: #FFFFFF;
    padding: 3% 7%;
    border-radius: 0.5rem;
    border: none;
   font-size: 24px;
   transition: color 0.2s, background-color 0.2s;
   
}
.titleBtn:hover , .RegistrationBtn:hover ,.footerLowerContainer >button:active{
    opacity: 0.8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.titleBtn:active , .RegistrationBtn:active,.footerLowerContainer >button:hover{
    background-color: #FFFFFF;
    color: #4D8CF3;
    border: 1px solid #4D8CF3;
}

.leftSection1{

}

.leftLayer{
    position: absolute;
    z-index: -1;
    right: 0;
}
.cerclebg{
    position: absolute;
    z-index: -1;
    left: 88px;
}

/* Path: src/styles/About.css */
.Container2{
    display: flex;
    gap: 3%;
    justify-content:center;
    align-items: top;
    margin-bottom: 300px;
    
}
.aboutRightPart{
    display: flex;
    flex-direction: column;
    width: 48%;
    position: relative;
}
.aboutTitle{
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2.7px;
    margin-bottom: 50px;
}

.aboutSubTitle{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 2.7px;
    margin: 0;
    
}

.aboutDescription{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
   
}

.aboutbg{
    position: absolute;
    z-index: -1;
    top: 60px;
    right: 15%;
 
}
.aboutImgtitle{
    width: 47%;
}
/* Path: src/styles/Workshop.css */

.ContainerWorkshop{
    display: flex;
    gap: 30px;
    align-items: center;
}
hr{
    width: 130px;
    border: 2px solid #EBC022;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
}
.workshopTitle,.AgendaTitle {
    display: inline-block;
    font-size: 36px;
    color: #0F9D58;
    text-align: center;
    font-weight: 900;
}
.workshopDescription, .agendaDescription{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    line-height: 141%;
    max-width: 480px;
    margin-bottom: 30px;
}
.workshopImg{
    height: 690px;
    object-fit: cover;
    width: 700px;
    object-position: top;

}

/* Path: src/styles/Agenda.css */t

.titleAgendaContainer{
   display: flex;
   gap: 30px;
}
.AgendaContainer1{
   
   position: relative;
   height: 750px;
   margin-bottom: 30px;
    gap: 25px;
   display: flex;
   justify-content: right; 
}


.img1Agenda{
   width:830px;
   object-fit: fill;
   object-position: right;
   margin-top: -125px;
    margin-right: 50px;
    height: fit-content;
}

.pathAgenda{
    position:absolute;
    left: 0px;
    top: 440px;
    width: 100%;
}

.agendaTitleDescription{
    padding-left: 150px;

}
/* Path: src/styles/WeeksCard.css */
.CardContainer{
    position: relative;
}
.CardStyle{
    border-radius: 156.975px 26.163px;
   
    display: flex;
    width: 66%;
    
    flex-direction: column;
    align-items: center;
    height: 500px;
    gap: 8%;
    position: relative;
    z-index: 2;
    
    
}

.CardTitle{
    color: #5792F5;
    font-size: 22px;
    margin-top: 60px;
}

.CardDescription{
    color: #F3796E;
    font-size: 19px;
    font-weight: 400; 
    width: 96%;
    letter-spacing: 0.38px;
}
.CardTextConatainier{
    background-color: #FFFFFF;
    border-radius: 156.975px 26.163px;
    box-shadow: 0px 0px 13.08125px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    padding-top: 50px;
    padding-left: 50px;
    height: 100%;
    gap: 8%;
}

.weeksbg{
    position: absolute;
    width: 790px;
    z-index: -1;
    bottom:-70px;
    right: -100px;


}
/* Path WeeksGrid */


.weeksGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) 500px 1fr;
    justify-items: center;
    margin-bottom: 200px;
    row-gap: 30px;
    position: relative;
    
}   
.pathContainer{
    position: absolute;
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    right: 100%;
    top: -150px;
   
}

.pathWeeks{
    position: absolute;
    width: 199%;
    
}
/*Path Challenges */
.ChallengeContainer{

    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.ChallengeTitle{
    margin-top: 90px;
    color:  #127681;
    font-size: 40px;
    font-weight: 700;

}

.ChallengeDescription{
    font-size: 32px;
    font-weight: 500;
    max-width: 480px;
}

/*Path RegistrationBtn */

.RegistrationBtn{
    padding: 14px 16px;
    border-radius: 10px;
    font-size: 30px;
    background: #5792F5;
    color: #FFFFFF;
    border: none;
    margin-bottom: 150px;
    margin-top: 80px;
    
}

/*Path Sponsors */

.sponsorLogosContainer{
    display: flex;
    margin-block: 40px 60px;
    justify-content: space-evenly;
    
}

/*Path Footer */
.footerUpperContainer{
    background-color: rgba(251, 194, 24, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 190px;
}
.footerLowerContainer{
    background-color: #5792F5;
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 11%;
    height: 59px;
}
.footerLowerContainer > button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    padding: 13px 18px;
}
.leftPartFooter{
    text-align: center;

}

.leftPartFooter > h1{
    font-weight: 700;
    font-size: 30px;
    color: black;
    margin-bottom: 0;
    margin-top: 30px;
}
.leftPartFooter >h2{
    font-weight: 500;
    font-size: 34px;
    margin-top: 0;
}

.middlePartFooter{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(3,40px);
    align-items: center;
    row-gap: 4px;
    column-gap: 5px;
    
}
.middlePartFooter >img{
    width: 24px;
}
.middlePartFooter >p{
    font-size: 18px;
}
.footerLowerContainer >button{
    border-radius: 0.5rem;
    transition: color 0.2s, background-color 0.2s;
}
.rightPartFooter >h1{
    font-size: 38px;
}
.socialMediaContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialMediaContainer > img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out;
}
.socialMediaContainer > img:hover{
    opacity: 0.8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.233);
        
    }

/* responsive */
@media (max-width: 1100px) {
    .Container1 > img {
        width: 40%;
    }
    .titleText{
        font-size: 40px;
    }
    .cerclebg{
        width: 12%;
        left: 33px;
        bottom: 138px;
    }
    .aboutTitle{
        font-size: 28px;
       margin-bottom: 10px;
     
    }
    .aboutDescription ,.workshopDescription,.agendaDescription{
        font-size: 16px;
        margin: 0;
        line-height: 28px;
    }
    .aboutSubTitle{
       display: none;
    }
    .aboutbg{
        width: 450px;
        top: 0px;
        right: 0px;
    }
    .workshopImg{
        width: 55%;
        object-fit: contain;
        
    }
    .workshopTitle,.AgendaTitle{
        font-size: 28px;
    }
    .ContainerWorkshop{
        gap: 0px;
    }
   hr{
       width: 80px;
   }
   .img1Agenda{
    width: 51%;
    margin-right: 15px;
   }
   
   .agendaHr{
    margin-left: 60px;
   }
   .weeksbg{
        width: 164%;
        top: -30px;
        opacity: 0.6;
        
   }
   .pathAgenda{
         top: 230px;
   }
   .pathWeeks{
        top: 260px;
   }
   .CardDescription{
         font-size: 16px;
         width: 100%;
   }
   .CardTitle{
         font-size: 18px;
         margin-top: 30px;
   }
   .CardTextConatainier{
        gap: 10px;
        padding-top: 60px;
   }
   .CardStyle{
         width: 80%;
         height: 400px;
   }
   .weeksGrid{
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(2,250px) 450px 140px;
       row-gap: 0px;
       margin-top: 140px;
       
   }
   .ChallengeContainer >img{
     width: 45%;
     margin-left: 30px;
   }
   .ChallengeTitle{
         font-size: 28px;
         margin-top:130px ;
   }
   .ChallengeDescription{
            font-size: 20px;
            width: 90%;
   }
   .RegistrationBtn{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
   }
   .sponsorLogosContainer >img{
         width: 13%;
   }
   .sponsorLogosContainer{
            margin-block: 40px 45px;
   }
   .gdsclogo{
    width: 12%;
   }
   .footerUpperContainer{
            height: 150px;
   }
   .footerLowerContainer{
            height: 50px;
            padding-right: 30px; 
   }
   .footerLowerContainer >button{
            font-size: 16px;
            padding: 10px 15px;
   }
   .leftPartFooter >h1{
            font-size: 24px;
   }
   .leftPartFooter >h2{
            font-size: 28px;
   }
   .middlePartFooter > p{
        font-size: 14px;
   }
   .middlePartFooter{
       row-gap: 11px;
       column-gap: 0px;
       grid-template-rows: repeat(3,23px);
       grid-template-columns: 30px auto;
   }
   .rightPartFooter >h1{
        font-size: 24px;
   }
   .socialMediaContainer >img{
        width: 24px;
        gap: 0;
   }
   .middlePartFooter >img{
    width: 20px;
   }
   .AgendaContainer1{
    height: max-content;
    margin-bottom: 100px;
   }
   .Container2{
    margin-bottom: 150px;
   }
}
